body{
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100%;
    background: rgb(11,1,168);
    background: linear-gradient(211deg, rgba(11,1,168,1) 3%, rgba(81,81,219,1) 50%, rgba(47,210,244,1) 96%);
    background-repeat: no-repeat;
}
.pontuacao{
    font-size: 30px;
}

.h1A{
    font-size: 2.5em;
}

.dica{
    font-size: 19px;
    color: #7b04aa;
    background-color: goldenrod;
    border-radius: 5px;
    box-shadow: 0px 15px 15px #4c0468; /* Sombra com cor roxa */
    padding: 5px;
    margin: 0 250px 30px 250px ;
}

.wordContariner{
    margin: 1.5em;
    padding: 1.5em;
    display: flex;
    border: 8px solid goldenrod;
    background-color: #2d1d33;
    border-radius: 20px;
    box-shadow: 0px 15px 15px #16031d; /* Sombra com cor roxa */
}

.letter, .squareblank{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    width: 100px;
    height: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
}
.letterContainer p{
    margin: 1.2em;
}

.letterContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer button{
    padding: 15px;
    margin-left: 1em;
    width: 150px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    border: 3px solid #fff;
    background-color: #7b04aa;
    cursor: pointer;
}


.letterContainer input{
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    border: 2px solid #000;
}

/* Media query for screens smaller than 768px (e.g., tablets and mobile devices) */
@media (max-width: 768px) {
    .dica {
        margin: 0 50px 20px 50px; /* Adjust margin for smaller screens */
    }
    .wordContainer {
        margin: 1em; /* Reduced margin for smaller screens */
        padding: 1em; /* Reduced padding for smaller screens */
        border-width: 6px; /* Adjust border width */
        box-shadow: 0px 10px 10px #16031d; /* Adjust shadow size */
        flex-direction: column; /* Change flex direction for smaller screens */
        flex-wrap: wrap;
    }
}

/* Media query for screens smaller than 480px (e.g., mobile devices) */
@media (max-width: 480px) {
    .dica {
        margin: 0 20px 10px 20px; /* Further adjust margin for small screens */
    }
    .wordContainer {
        margin: 0.5em; /* Further reduced margin*/
    }
}